html,
body {
    margin: 0;
    padding: 0;
}

.genres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;



}

.action {
    background-color: dodgerblue;
}

.thriller {
    background-color: rgb(190, 178, 178);

}

.comedy {
    background-color: rgb(255, 214, 30);
}

.horror {
    background-color: black;
}

.drama {
    background-color: darkgrey;
}

.romance {
    background-color: red;

}

section {
    text-align: center;
    width: 600px;
    height: 100px;

}